.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.image {
  position: -webkit-sticky;
  position: sticky;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-color: #fff;
  font-family: Grandview, sans-serif;
  font-size: 14px;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.name {
  position: relative;
  top: auto;
  margin-right: 20px;
  margin-left: 0px;
  font-family: Grandview, sans-serif;
  font-size: 40px;
  text-align: left;
}

.grid {
  margin-top: auto;
  grid-auto-flow: row;
  -ms-grid-columns: 0.75fr 0.4fr;
  grid-template-columns: 0.75fr 0.4fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -o-object-fit: fill;
  object-fit: fill;
}

.project-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Grandview, sans-serif;
  color: #333;
}

.project-heading:hover {
  color: #7c3cf1;
}

.project-thumbnail {
  opacity: 1;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.project-thumbnail:hover {
  opacity: 0.7;
}

.section-heading {
  margin-top: 10px;
  margin-right: 40px;
  margin-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Grandview, sans-serif;
  text-align: center;
}

.nav-menu {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: right;
  clear: none;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.text-block {
  font-size: 16px;
}

.project-blurb {
  font-family: Grandview, sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.container {
  background-color: transparent;
}

.section {
  background-color: transparent;
}

.project-section-light {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  font-family: Grandview, sans-serif;
}

.project-section-light.project-part-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fcfcfc;
  font-family: Grandview, sans-serif;
}

.project-section-dark {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e4e4e4;
}

.link-block {
  text-decoration: none;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 10px;
  background-color: #f0f0f0;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px 10px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 0.25fr -webkit-max-content 2fr -webkit-max-content 1fr 0.75fr 0.75fr;
  -ms-grid-columns: 0.25fr max-content 2fr max-content 1fr 0.75fr 0.75fr;
  grid-template-columns: 0.25fr -webkit-max-content 2fr -webkit-max-content 1fr 0.75fr 0.75fr;
  grid-template-columns: 0.25fr max-content 2fr max-content 1fr 0.75fr 0.75fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  -webkit-transition: -webkit-filter 200ms ease;
  transition: -webkit-filter 200ms ease;
  transition: filter 200ms ease;
  transition: filter 200ms ease, -webkit-filter 200ms ease;
}

.nav-logo-link:active {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.nav-link {
  display: block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 0px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #444;
  font-size: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: #7c3cf1;
  text-decoration: none;
}

.nav-link:active {
  -webkit-transform: translate(0px, 1px);
  -ms-transform: translate(0px, 1px);
  transform: translate(0px, 1px);
}

.heading {
  position: static;
  overflow: auto;
}

.grid-2 {
  -ms-grid-columns: 0.25fr 1fr 3.5fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 0.25fr 1fr 3.5fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-2 {
  height: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
  -o-object-fit: fill;
  object-fit: fill;
}

.navbar-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-grid-2 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: minmax(-webkit-min-content, -webkit-max-content) -webkit-max-content 1fr -webkit-max-content minmax(-webkit-max-content, -webkit-max-content) minmax(-webkit-max-content, -webkit-max-content) minmax(-webkit-max-content, -webkit-max-content) minmax(-webkit-max-content, -webkit-max-content);
  -ms-grid-columns: minmax(min-content, max-content) max-content 1fr max-content minmax(max-content, max-content) minmax(max-content, max-content) minmax(max-content, max-content) minmax(max-content, max-content);
  grid-template-columns: minmax(-webkit-min-content, -webkit-max-content) -webkit-max-content 1fr -webkit-max-content minmax(-webkit-max-content, -webkit-max-content) minmax(-webkit-max-content, -webkit-max-content) minmax(-webkit-max-content, -webkit-max-content) minmax(-webkit-max-content, -webkit-max-content);
  grid-template-columns: minmax(min-content, max-content) max-content 1fr max-content minmax(max-content, max-content) minmax(max-content, max-content) minmax(max-content, max-content) minmax(max-content, max-content);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  font-family: Grandview, sans-serif;
}

.nav-logo-2 {
  width: auto;
  height: 100%;
  padding-left: 5px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.button {
  margin-right: 10px;
  margin-left: 10px;
  background-color: #4c15a5;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  text-align: center;
}

.button:hover {
  opacity: 0.7;
}

.button:active {
  -webkit-transform: translate(0px, 1px);
  -ms-transform: translate(0px, 1px);
  transform: translate(0px, 1px);
}

.text-block-2 {
  font-size: 16px;
}

.project-description {
  margin-top: 1%;
  font-family: Grandview, sans-serif;
  font-size: 20px;
  line-height: 25px;
}

.about-me {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Grandview, sans-serif;
}

.hero {
  display: block;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Grandview, sans-serif;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -o-object-fit: fill;
  object-fit: fill;
}

.hero-image-mask {
  width: 100%;
  margin-left: 40px;
}

.hero-image {
  width: 437px;
  height: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex: 0 0.5 auto;
  flex: 0 0.5 auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.div-block {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.project-container {
  padding-right: 20px;
  padding-left: 20px;
}

.paragraph {
  font-size: 20px;
}

.heading-2 {
  margin-top: 0px;
  text-align: left;
}

.contact-form {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #353535;
  font-family: Grandview, sans-serif;
  color: #fff;
}

.contact-form-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.submit-button {
  background-color: #4c15a5;
}

.small-icon {
  width: 10vh;
  max-width: 100%;
}

.link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #fff;
  text-decoration: none;
}

.link:hover {
  color: #863bff;
}

.paragraph-2 {
  font-size: 18px;
  line-height: 24px;
}

.copyright {
  background-color: rgba(0, 0, 0, 0.85);
  font-family: Grandview, sans-serif;
  color: #fff;
  text-align: center;
}

.heading-3 {
  display: block;
}

.feature-section {
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: Grandview, sans-serif;
}

.flex-container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature-image-mask {
  width: 100%;
  margin-right: 40px;
}

.feature-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.paragraph-3 {
  margin-right: 220px;
  font-size: 20px;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.project-page-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Grandview, sans-serif;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.grid-3 {
  padding-right: 20px;
  padding-left: 20px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-3 {
  width: 100vh;
}

.project-page-picture {
  width: auto;
}

.columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.project-page-paragraph {
  font-size: 20px;
  line-height: 22px;
}

.heading-4 {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  text-align: left;
}

.cards-section {
  padding-top: 20px;
  padding-bottom: 60px;
  font-family: Grandview, sans-serif;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.cards-grid-container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.cards-image-mask {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  border-radius: 0%;
}

.cards-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.paragraph-4 {
  font-size: 16px;
  line-height: 20px;
}

.paragraph-5 {
  font-size: 16px;
}

.text-block-3 {
  text-align: center;
}

.text-block-4 {
  text-align: center;
}

.role-skills-timeframe {
  text-align: center;
}

.section-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #353535;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.section-3:hover {
  background-color: #4c15a5;
}

.button-2 {
  background-color: #9dd1ff;
}

.more-projects {
  color: #fff;
}

@media screen and (max-width: 991px) {
  .cards-grid-container {
    grid-column-gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .nav-grid-2 {
    text-align: center;
  }

  .hero {
    padding: 40px 20px;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hero-image-mask {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .contact-form {
    padding: 40px 20px;
  }

  .feature-section {
    padding: 40px 20px;
  }

  .flex-container-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feature-image-mask {
    margin-right: 0px;
  }

  .feature-image {
    margin-right: auto;
    margin-left: auto;
  }

  .cards-section {
    padding: 40px 20px;
  }

  .cards-grid-container {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
}

@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }

  .nav-grid-2 {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .centered-container {
    text-align: left;
  }

  .cards-grid-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

#w-node-_7e94cb3f-de11-7956-67ac-a2cef5f48400-1b515dde {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_7e94cb3f-de11-7956-67ac-a2cef5f48403-1b515dde {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_21caf446-9943-df95-9d93-85156fc28243-1b515dde {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_152c5558-37dd-3331-6de2-bcb15a4f6390-ef2a6e5a {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_152c5558-37dd-3331-6de2-bcb15a4f6393-ef2a6e5a {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-ab9ed382-1e5d-0f5a-a681-1d6da2931a7d-ef2a6e5a {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

@media screen and (max-width: 767px) {
  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a61d-ef2a6e5a {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a61f-ef2a6e5a {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a624-ef2a6e5a {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a626-ef2a6e5a {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_7e94cb3f-de11-7956-67ac-a2cef5f48400-1b515dde {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_7e94cb3f-de11-7956-67ac-a2cef5f48403-1b515dde {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_21caf446-9943-df95-9d93-85156fc28233-1b515dde {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_21caf446-9943-df95-9d93-85156fc28237-1b515dde {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_21caf446-9943-df95-9d93-85156fc2823b-1b515dde {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_21caf446-9943-df95-9d93-85156fc2823f-1b515dde {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_152c5558-37dd-3331-6de2-bcb15a4f6390-ef2a6e5a {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_152c5558-37dd-3331-6de2-bcb15a4f6393-ef2a6e5a {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a613-ef2a6e5a {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a61a-ef2a6e5a {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a621-ef2a6e5a {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@font-face {
  font-family: 'Grandview';
  src: url('../fonts/Grandview.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Grandview';
  src: url('../fonts/GrandviewBoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Grandview';
  src: url('../fonts/GrandviewBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Grandview';
  src: url('../fonts/GrandviewLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Grandview';
  src: url('../fonts/GrandviewItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Grandview';
  src: url('../fonts/GrandviewLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}