.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.name {
  position: relative;
  top: auto;
  margin-right: 20px;
  margin-left: 0px;
  font-family: Grandview, sans-serif;
  font-size: 40px;
  text-align: left;
}

.grid {
  margin-top: auto;
  grid-auto-flow: row;
  -ms-grid-columns: 0.75fr 0.4fr;
  grid-template-columns: 0.75fr 0.4fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -o-object-fit: fill;
  object-fit: fill;
}

.project-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Grandview, sans-serif;
  color: #333;
}

.project-heading:hover {
  color: #7c3cf1;
}

.project-thumbnail {
  opacity: 1;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.project-thumbnail:hover {
  opacity: 0.7;
}

.section-heading {
  margin-top: 10px;
  margin-right: 40px;
  margin-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Grandview, sans-serif;
  text-align: center;
}

.project-blurb {
  font-family: Grandview, sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.project-section-light {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  font-family: Grandview, sans-serif;
}

.project-section-light.project-part-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fcfcfc;
  font-family: Grandview, sans-serif;
}

.project-section-dark {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e4e4e4;
}

.link-block {
  color: #333;
  text-decoration: none;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 10px;
  background-color: #f0f0f0;
}

.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  -webkit-transition: -webkit-filter 200ms ease;
  transition: -webkit-filter 200ms ease;
  transition: filter 200ms ease;
  transition: filter 200ms ease, -webkit-filter 200ms ease;
}

.nav-logo-link:active {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.nav-link {
  display: block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 0px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #444;
  text-decoration: none;
}

.nav-link:hover {
  color: #7c3cf1;
  text-decoration: none;
}

.nav-link:active {
  -webkit-transform: translate(0px, 1px);
  -ms-transform: translate(0px, 1px);
  transform: translate(0px, 1px);
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: minmax(-webkit-min-content, -webkit-max-content) -webkit-max-content 1fr -webkit-max-content minmax(-webkit-max-content, -webkit-max-content) minmax(-webkit-max-content, -webkit-max-content) minmax(-webkit-max-content, -webkit-max-content) minmax(-webkit-max-content, -webkit-max-content);
  -ms-grid-columns: minmax(min-content, max-content) max-content 1fr max-content minmax(max-content, max-content) minmax(max-content, max-content) minmax(max-content, max-content) minmax(max-content, max-content);
  grid-template-columns: minmax(-webkit-min-content, -webkit-max-content) -webkit-max-content 1fr -webkit-max-content minmax(-webkit-max-content, -webkit-max-content) minmax(-webkit-max-content, -webkit-max-content) minmax(-webkit-max-content, -webkit-max-content) minmax(-webkit-max-content, -webkit-max-content);
  grid-template-columns: minmax(min-content, max-content) max-content 1fr max-content minmax(max-content, max-content) minmax(max-content, max-content) minmax(max-content, max-content) minmax(max-content, max-content);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  font-family: Grandview, sans-serif;
  font-size: 18px;
}

.nav-logo-2 {
  width: auto;
  height: 100%;
  padding-left: 5px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.button {
  margin-right: 10px;
  margin-left: 10px;
  background-color: #4c15a5;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  text-align: center;
}

.button:hover {
  opacity: 0.7;
}

.button:active {
  -webkit-transform: translate(0px, 1px);
  -ms-transform: translate(0px, 1px);
  transform: translate(0px, 1px);
}

.project-description {
  margin-top: 1%;
  font-family: Grandview, sans-serif;
  font-size: 20px;
  line-height: 25px;
}

.about-me {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Grandview, sans-serif;
}

.project-container {
  padding-right: 20px;
  padding-left: 20px;
}

.heading-2 {
  margin-top: 0px;
  text-align: left;
}

.contact-form {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #353535;
  font-family: Grandview, sans-serif;
  color: #fff;
}

.contact-form-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.submit-button {
  background-color: #4c15a5;
}

.small-icon {
  width: 10vh;
  max-width: 100%;
}

.link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #fff;
  text-decoration: none;
}

.link:hover {
  color: #863bff;
}

.paragraph-2 {
  font-size: 18px;
  line-height: 24px;
}

.copyright {
  background-color: rgba(0, 0, 0, 0.85);
  font-family: Grandview, sans-serif;
  color: #fff;
  text-align: center;
}

.project-page-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Grandview, sans-serif;
}

.grid-3 {
  padding-right: 20px;
  padding-left: 20px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.project-page-picture {
  width: auto;
}

.columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.project-page-paragraph {
  font-size: 20px;
  line-height: 24px;
}

.heading-4 {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  text-align: left;
}

.cards-section {
  padding-top: 20px;
  padding-bottom: 60px;
  font-family: Grandview, sans-serif;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.cards-grid-container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.cards-image-mask {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  border-radius: 0%;
}

.cards-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.paragraph-4 {
  font-size: 16px;
  line-height: 20px;
}

.role-skills-timeframe {
  text-align: center;
}

.link-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #353535;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.link-section:hover {
  background-color: #4c15a5;
}

.more-projects {
  color: #fff;
}

.lightbox-link {
  position: relative;
  overflow: visible;
}

.all-project-grid {
  padding-top: 20px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.hover-text {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Grandview, sans-serif;
  font-size: 200%;
  text-align: center;
}

.hover-text-div-block {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.hover-text-div-block:hover {
  opacity: 0.5;
}

.project-page-div-block {
  position: relative;
}

.link-block-2 {
  color: #333;
  text-decoration: none;
}

.all-project-link-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .cards-grid-container {
    grid-column-gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .contact-form {
    padding: 40px 20px;
  }

  .cards-section {
    padding: 40px 20px;
  }

  .cards-grid-container {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
}

@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .centered-container {
    text-align: left;
  }

  .cards-grid-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

#w-node-_7e94cb3f-de11-7956-67ac-a2cef5f48400-1b515dde {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_7e94cb3f-de11-7956-67ac-a2cef5f48403-1b515dde {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_21caf446-9943-df95-9d93-85156fc28243-1b515dde {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_870531f3-53e5-9d61-293c-9d6a730c25b0-ef2a6e5a {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_870531f3-53e5-9d61-293c-9d6a730c25b3-ef2a6e5a {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-ab9ed382-1e5d-0f5a-a681-1d6da2931a7d-ef2a6e5a {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-d967af23-f474-b002-1e6c-d1e617a314c4-51fcb4d0 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-d967af23-f474-b002-1e6c-d1e617a314c7-51fcb4d0 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-ab9ed382-1e5d-0f5a-a681-1d6da2931a7d-51fcb4d0 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-df762928-ace6-ee72-cb48-6e41f3c5a01e-ffd8b2c9 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-df762928-ace6-ee72-cb48-6e41f3c5a021-ffd8b2c9 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-ab9ed382-1e5d-0f5a-a681-1d6da2931a7d-ffd8b2c9 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-c42c9336-494e-4521-430e-b757dadb23c9-b5d5d02e {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-c42c9336-494e-4521-430e-b757dadb23cc-b5d5d02e {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-ab9ed382-1e5d-0f5a-a681-1d6da2931a7d-b5d5d02e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_7ffc2d88-597f-bbd9-307e-cb2e8e61978a-5ad608e0 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_7ffc2d88-597f-bbd9-307e-cb2e8e61978d-5ad608e0 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-e5ff619b-ff6a-a2ff-2db0-2d08144de227-1d0a7d59 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-e5ff619b-ff6a-a2ff-2db0-2d08144de22a-1d0a7d59 {
  -ms-grid-column-align: start;
  justify-self: start;
}

@media screen and (max-width: 767px) {
  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a61d-ef2a6e5a {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a61f-ef2a6e5a {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a624-ef2a6e5a {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a626-ef2a6e5a {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a61d-51fcb4d0 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a61f-51fcb4d0 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a624-51fcb4d0 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a626-51fcb4d0 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a61d-ffd8b2c9 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a61f-ffd8b2c9 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a624-ffd8b2c9 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a626-ffd8b2c9 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a61d-b5d5d02e {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a61f-b5d5d02e {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a624-b5d5d02e {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a626-b5d5d02e {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_7e94cb3f-de11-7956-67ac-a2cef5f48400-1b515dde {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_7e94cb3f-de11-7956-67ac-a2cef5f48403-1b515dde {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_21caf446-9943-df95-9d93-85156fc28233-1b515dde {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_21caf446-9943-df95-9d93-85156fc28237-1b515dde {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_21caf446-9943-df95-9d93-85156fc2823b-1b515dde {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_21caf446-9943-df95-9d93-85156fc2823f-1b515dde {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_870531f3-53e5-9d61-293c-9d6a730c25b0-ef2a6e5a {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_870531f3-53e5-9d61-293c-9d6a730c25b3-ef2a6e5a {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a613-ef2a6e5a {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a61a-ef2a6e5a {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a621-ef2a6e5a {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-d967af23-f474-b002-1e6c-d1e617a314c4-51fcb4d0 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-d967af23-f474-b002-1e6c-d1e617a314c7-51fcb4d0 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a613-51fcb4d0 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a61a-51fcb4d0 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a621-51fcb4d0 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-df762928-ace6-ee72-cb48-6e41f3c5a01e-ffd8b2c9 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-df762928-ace6-ee72-cb48-6e41f3c5a021-ffd8b2c9 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a613-ffd8b2c9 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a61a-ffd8b2c9 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a621-ffd8b2c9 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-c42c9336-494e-4521-430e-b757dadb23c9-b5d5d02e {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-c42c9336-494e-4521-430e-b757dadb23cc-b5d5d02e {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a613-b5d5d02e {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a61a-b5d5d02e {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_87f0708e-c4fa-0d5a-4c83-82cfa5d3a621-b5d5d02e {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_7ffc2d88-597f-bbd9-307e-cb2e8e61978a-5ad608e0 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_7ffc2d88-597f-bbd9-307e-cb2e8e61978d-5ad608e0 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-e5ff619b-ff6a-a2ff-2db0-2d08144de227-1d0a7d59 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-e5ff619b-ff6a-a2ff-2db0-2d08144de22a-1d0a7d59 {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@font-face {
  font-family: 'Grandview';
  src: url('../fonts/Grandview.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Grandview';
  src: url('../fonts/GrandviewBoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Grandview';
  src: url('../fonts/GrandviewBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Grandview';
  src: url('../fonts/GrandviewLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Grandview';
  src: url('../fonts/GrandviewItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Grandview';
  src: url('../fonts/GrandviewLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}